body {
  background: url("../assets/criteria-bg.png") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);

  font-family: mulish;
  color: #ffffff;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;

  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
  transform: none !important;
}

input,
textarea,
button, 
select {
  font-family: inherit;
}

@mixin transition($duration: 0.3s, $property: all, $timing: ease-out) {
  transition: $property $duration $timing;
}
@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin brad($radius: 1rem) {
  border-radius: $radius;
}
@mixin bg($color: rgba(255, 255, 255, 0.2)) {
  background-color: $color;
}
@mixin hover-bg($color: rgba(234, 243, 255, 0.5)) {
  &:hover {
    background: $color;
  }
}

.container {
  width: clamp(320px, 90%, 1200px);
  margin-inline: auto;
  box-sizing: border-box;
}

.layout {
  @extend .container;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 4rem auto;
  overflow-x: auto;
  @include brad;
}

.switcher {
  width: 100%;
  min-height: 4.125rem;
  @include flex();
  gap: 1rem;
  &__btn {
    @include transition;
    width: 100%;
    @include brad;
    background-color: rgba(255, 255, 255, 0.4);
    gap: clamp(0.25rem, 2vw, 0.625rem);
    @include flex(row, center, center);
    font-size: clamp(0.6rem, 2vw, 1.25rem);
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: clamp(0.25rem, 1vw, 0.5rem) clamp(0.5rem, 2vw, 1rem);
  }
  &__btn--active {
    background: #1a4c80;
  }
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

// ==========================
// Variant
// ==========================
.variant {
  display: none;
  &--active {
    display: block;
  }
} 

.table {
  margin-top: 4rem;
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 600px;
  width: max-content;
  max-width: none;
  &-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 80vh;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  &__head th {
    position: sticky; 
    top: 0;
    z-index: 30; 
    background: #1a4c80;
    height: clamp(4rem, 2vw, 6rem);
    font-size: clamp(0.6rem, 0.5vw + 0.75rem, 1rem);
    text-align: center;
    vertical-align: middle;
    padding: clamp(10px, 2vw, 20px) clamp(5px, 2vw, 10px);
    white-space: normal;
    text-overflow: ellipsis;
  }

  &__head th:first-child { 
    left: 0; 
    z-index: 50;
  }

  &__body td {
     background: rgba(128, 128, 128, 0.5);
    height: auto;
    padding: clamp(10px, 1vw, 20px) clamp(5px, 2vw, 10px);
    font-size: clamp(0.5rem, 0.5vw + 0.65rem, 0.9rem);
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
  }
  &__criteria {
    width: 11.0625rem; 
  }
  &__method {
    width: 12.3125rem;
  }
  &__formula {
    width: 11.0625rem;
  }
  &__information {
    width: 10.125rem;
  }
  &__data-period {
    width: 8.5625rem;
  }
  &__mark-period {
    width: 8.5625rem;
  }
  &__score {
    width: 5.25rem;
  }
  &__access {
    width: 8rem;
  } 
} 

.table__row td,
.table__row th {
  border-bottom: 1px solid #fff;
} 

.table__row:last-child td,
.table__row:last-child th {
  border-bottom: none;
} 
 
.table__row td:first-child { 
  position: sticky;  
  border-bottom: 1px solid #fff; 
   left: 0;
    z-index: 20; 
}

.table__row td:first-child::before {
  content: "";
  position: absolute; 
  inset: 0;
  backdrop-filter: blur(6px);       
  -webkit-backdrop-filter: blur(6px);
  z-index: -1; 
} 

@media (max-width: 768px) {
  .table {
    min-width: 500px;
  }
}
