body {
  background: url("../assets/rating-bg.png") no-repeat center center fixed;
  font-family: mulish;
  color: #ffffff;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(0.625rem);
  backdrop-filter: blur(0.625rem);
}

input,
textarea,
button,
select {
  font-family: inherit;
}

:root {
  --color-aaa: #009a44;
  --color-aa: #91bd00;
  --color-a: #a5c91f;
  --color-bbb: #d9b600;
  --color-bb: #d9ce04;
  --color-b: #efe31e;
  --color-ccc: #d96400;
  --color-cc: #d99c00;
  --color-c: #f0ae13;
  --color-d: #d92804;
  --color-NAPP: #00345c;
}

.layout {
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 4rem auto;
  border-radius: 1rem;
}

.switcher {
  max-width: 75rem;
  width: 100%;
  min-height: 4.125rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}
.switcher__btn {
  width: 100%;
  padding: 1.25rem 2.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  gap: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: #fff;
}
.switcher__btn--active {
  background: #1a4c80;
}
.switcher__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.variant {
  display: none;
}
.variant--active {
  display: block;
}
.variant__heading {
  font-size: 4rem;
  margin-top: 3.125rem;
  text-align: center;
  font-weight: 700;
}
.variant__subtitle {
  text-align: center;
  color: #00c37d;
  font-size: 1rem;
  margin-top: 1.25rem;
}

/* Variant 2 */
/* Tabs */
/* Carousel */
.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3.125rem;
  overflow: hidden;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  /* Card */
}
.carousel__track {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease-out;
  width: -moz-max-content;
  width: max-content;
}
.carousel__card {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 1rem;
  width: 18.75rem;
  min-height: 15.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}
.carousel__card:hover {
  background-color: rgba(234, 243, 255, 0.5);
}
.carousel__name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 130%;
}
.carousel__location {
  font-size: 0.75rem;
  color: #bbb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  margin-top: 0.5rem;
  line-height: 0.8125rem;
}
.carousel__location-icon {
  width: 0.75rem;
  height: 0.75rem;
}
.carousel__status {
  font-size: 0.625rem;
  color: #00c3ff;
  margin-top: 0.5rem;
  line-height: 0.8125rem;
}
.carousel__rating {
  height: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.carousel__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  margin-bottom: 1.25rem;
}
.carousel__circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 4px solid currentColor;
  color: var(--circle-color, #000);
}
.carousel__grade {
  font-size: 1.875rem;
  font-weight: bold;
}
.carousel__score {
  font-size: 1.375rem;
}
.carousel__icon {
  width: 6.25rem;
  height: 6.25rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f4f8ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.625rem;
}
.carousel__photo {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}
.carousel__btn-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.25rem;
  position: fixed;
  top: 34.6875rem;
}
.carousel__btn {
  background: none;
  border: none;
  cursor: pointer;
}

/* Tabs */
/* Variant 3 */
.stats {
  max-width: 75rem;
  width: 100%;
  min-height: 4.375rem;
  padding: 0 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.125rem;
}
.stats__stat {
  border-left: 0.5rem solid #1a4c80;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  transition: all 0.3s ease-out;
}
.stats__stat:hover {
  transform: translateY(-0.375rem);
  text-shadow: 0.25rem 0.375rem 0.1875rem rgba(255, 255, 255, 0.2);
}
.stats__stat-value {
  font-size: 2.375rem;
  font-weight: 800;
  text-align: left;
}
.stats__stat-label {
  font-size: 1rem;
  text-align: left;
}

/* Emitter cards */
.top-emitter__title {
  font-size: 2rem;
  margin-top: 3.125rem;
  text-align: center;
  font-weight: 700;
}
.top-emitter__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3.125rem;
  max-width: 75rem;
  width: 100%;
  min-height: 18.75rem;
}
.top-emitter__card {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 1rem;
  width: 100%;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-out;
}
.top-emitter__card:hover {
  background-color: rgba(234, 243, 255, 0.5);
}
.top-emitter__name {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 130%;
}
.top-emitter__location {
  font-size: 1rem;
  color: #bbb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  margin-top: 0.625rem;
  line-height: 0.8125rem;
}
.top-emitter__location-icon {
  width: 0.75rem;
  height: 0.75rem;
}
.top-emitter__status {
  font-size: 0.75rem;
  color: #00c3ff;
  margin-top: 0.625rem;
  line-height: 0.8125rem;
}
.top-emitter__rating {
  position: absolute;
  top: 1.5625rem;
  right: 3.4375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}
.top-emitter__circle {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #ffffff;
  border: 2px solid currentColor;
  color: var(--circle-color, #000);
}
.top-emitter__grade {
  font-size: 1rem;
  font-weight: bold;
}
.top-emitter__score {
  position: relative;
}
.top-emitter__icon {
  width: 7.8125rem;
  height: 7.8125rem;
  padding: 1.125rem;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
}
.top-emitter__photo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

/* Map */
.map__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.map__title {
  text-align: center;
  font-size: 2rem;
  margin-top: 3.125rem;
  font-weight: 700;
}
.map__uz {
  margin-top: 3.125rem;
  max-width: 75rem;
  width: 100%;
  min-height: 48.75rem;
}
.map__province {
  fill: rgba(255, 255, 255, 0.5);
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 0.0938rem;
}
.map__tooltip {
  max-width: 12.5rem;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1.25rem;
  line-height: 1.2;
  pointer-events: none;
  display: none;
  z-index: 999;
  white-space: normal;
}

/* .map__province-tashkent-region
.map__province-khorezm
.map__province-karakalpakstan
.map__province-navoyi
.map__province-tashkent
.map__province-bukhara
.map__province-samarkand
.map__province-kashkadarya
.map__province-fergana
.map__province-andijan
.map__province-namangan
.map__province-surkhandarya
.map__province-jizzak
.map__province-syrdarya */
/* Categories table */
.categories__table {
  max-width: 75rem;
  width: 100%;
  min-height: 61.25rem;
  background: rgba(128, 128, 128, 0.5);
  border-radius: 1rem;
  margin-top: 3.125rem;
  border-collapse: collapse;
}
.categories__row {
  padding: 0.75rem;
  text-align: center;
  height: 4.875rem;
  border-bottom: #ffffff solid 1px;
  transition: all 0.3s ease-out;
}
.categories__border-none {
  border-bottom: none;
}
.categories__amount:hover {
  background: rgba(255, 255, 255, 0.25);
}
.categories__title th {
  height: 7.625rem;
  padding: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
  border: none;
}
.categories__head tr {
  min-height: 4.875rem;
  font-size: 1.5625rem;
  font-weight: 600;
}
.categories__rating {
  font-weight: bold;
  font-size: 1.3125rem;
}
.categories__rating--aaa {
  color: var(--color-aaa);
}
.categories__rating--aa {
  color: var(--color-aa);
}
.categories__rating--a {
  color: var(--color-a);
}
.categories__rating--bbb {
  color: var(--color-bbb);
}
.categories__rating--bb {
  color: var(--color-bb);
}
.categories__rating--b {
  color: var(--color-b);
}
.categories__rating--ccc {
  color: var(--color-ccc);
}
.categories__rating--cc {
  color: var(--color-cc);
}
.categories__rating--c {
  color: var(--color-c);
}
.categories__rating--d {
  color: var(--color-d);
}
.categories__progress-label {
  font-weight: bold;
}
.categories__rating:hover {
  background: rgba(255, 255, 255, 0.25);
}
.categories__progress {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.75rem;
  text-align: center;
  height: 4.875rem;
  transition: all 0.3s ease-out;
}
.categories__progress:hover {
  background: rgba(255, 255, 255, 0.25);
}
.categories__progress-bar {
  width: 12.5rem;
  height: 1.3125rem;
  border-radius: 1rem;
  background-color: #ffffff;
  overflow: hidden;
}
.categories__progress-value {
  height: 100%;
  width: 0;
  background: gray;
  border-radius: 1rem;
  transition: all 0.3s ease-out;
}/*# sourceMappingURL=rating.css.map */