


body {
  background: url("assets/home-bg.jpg") no-repeat center center fixed;
}



/* Decorative blobs*/
.floating-blobs {
  position: fixed;
  inset: 0;              
  pointer-events: none;  
  z-index: 0;          
  overflow: hidden;
}
.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(2.5rem);
  opacity: 0.55;
  mix-blend-mode: screen;
  transform: translate3d(0,0,0);
  will-change: transform, opacity;
  animation: blob-move 12s linear infinite;
}
.blob--one {
  width: 26.25rem;
  height: 26.25rem;
  left: -8%;
  top: 5%;
  background: 
  radial-gradient(circle at 20% 20%,  rgba(0, 255, 163, 0.4),   rgba(0, 100, 255, 0.1)  );
  animation-duration: 14s;
}
.blob--two {
  width: 21.25rem;
  height: 21.25rem;
  right: -6%;
  top: 38%; 
  background: 
  radial-gradient( circle at 60% 40%,  rgba(255, 120, 200, 0.35),  rgba(50, 0, 80, 0.1) );
  animation-duration: 18s;
  animation-delay: 2s;
}
.blob--three {
  width: 20rem;
  height: 20rem;
  left: -5%;
  top: 75%; 
  background:
   radial-gradient(  circle at 30% 30%,   rgba(255, 200, 80, 0.55),     rgba(255, 150, 0, 0.25),    rgba(120, 60, 0, 0.05) );
  filter: blur(2.5rem);           
  animation-duration: 20s;
  animation-delay: 4s;
}
@keyframes blob-move {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 0.6;
  }
  50% {
    transform: translate3d(20px, -30px, 0) scale(1.05);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 0.6;
  }
}



/* Hero */
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 4rem auto;
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 1200px;
  width: 100%;
  min-height: 196px;
  border-radius: 1rem;
  font-size: 4rem;
  line-height: 150%;
  font-weight: 800;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 1rem; 
  position: relative;
  overflow: hidden;
}
.hero__text::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 50%, /* subtle white highlight */
    transparent 100%
  );
  animation: shimmer 3s linear infinite;
}
@keyframes shimmer {
  0% { left: -150%; }
  100% { left: 150%; }
}



/* Chart */
.chart {
  max-width: 1200px;
  width: 100%;
  min-height: 575px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.chart__header {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  align-items: center;
  height: auto;
  background: rgb(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.chart__header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20.375rem;
  height: 2.0625rem;
  padding: 0.625rem;
  gap: 1.25rem;
  background: rgba(255, 255, 255, 0.1);
  border: 0.0625rem solid #ffffff;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
}
.chart__header-info:hover {
  background: rgba(255, 255, 255, 0.2);
  position: relative;
}
.chart__header-btn {
  width: 11.5625rem;
  height: 2.6875rem;
  padding: 0.625rem;
  gap: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 0.0625rem solid #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
}
.chart__header-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 0.0625rem solid #ffffff;
}
.chart__header-text {
  color: #ffffff;
}
.chart__header-year-selector {
  width: 3.625rem;
  height: 1.4375rem;
  border-radius: 1rem;
  background: #ffffff;
  color: var(--color-NAPP);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.chart__year-dropdown {
  z-index: 9999;
  position: absolute;
}
.chart__quarters {
  display: flex;
  gap: 1rem;
  padding: 0.625rem 0;
  border-radius: 1rem;
}
.chart__quarter-btn {
  height: 4.125rem;
  width: 100%;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--color-NAPP);
  cursor: pointer;
  transition: background 0.2s;
  font-size: 1.25rem;
  font-weight: 500;
  border: 0.0625rem solid white;
   position: relative;
  overflow: hidden; /* so ripple stays inside */
}
.chart__quarter-btn--active {
  background: #1a4c80;
  color: #ffffff;
  border: 0.0625rem solid black;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.chart__quarter-btn .ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 0.6s linear;
  background: rgba(255, 255, 255, 0.6);
  pointer-events: none;
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.chart__content {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  height: 26rem;
}
.chart__bars {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  width: 100%;
  height: 22.5rem;
  gap: 1.5625rem;
  padding: 0.625rem 0;
  position: relative;
}
.bar-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
}
.bar {
  width: 0; /* always start collapsed */
  height: 1.5625rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: width 1s ease-out; /* animate growth */
}
.legend {
  display: flex;
  flex-direction: column;
  margin: 0.625rem 0.625rem 2.5rem 0.625rem;
  width: 2rem;
  height: 22.5rem;
  gap: 5rem;
}
.legend__label {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  width: 2rem;
  height: 1.5625rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}



/* Tooltip */
.chart__tooltip {
  height: 1.4375rem;
  position: absolute;
  border: 0.0625rem solid var(--color-NAPP);
  color: white;
  font-size: 0.6875rem;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.25rem;
  opacity: 0; /* hidden by default */
  visibility: hidden;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  font-weight: 600;
  z-index: 10;
}
.chart__tooltip.visible {
  opacity: 1;
  visibility: visible;
}



/* Chart vertical lines */
.line-container {
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  width: 2.4375rem;
  height: 24.5625rem;
  top: 0;
  left: 0;
}
.vertical-line {
  position: absolute;
  width: 0.0625rem;
  height: 22.5rem;
  background: white;
}
.line-number {
  position: absolute;
  top: 23.75rem;
  font-size: 1rem;
  color: white;
  font-weight: 600;
}



/* Criteria */
.criteria {
  max-width: 1200px;
  width: 100%;
  min-height: 453px;
  display: flex;
  gap: 3.125rem;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 3.125rem 6.25rem;
  margin: 4rem auto;
  text-align: center;
}
.criteria__title {
  font-size: 2.25rem;
  color: #ffffff;
  line-height: 130%;
  font-weight: 700;
}
.criteria__group {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  min-height: 256px;
  gap: 1rem;
  margin: 0 auto;
}
.criteria__item {
  width: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
}
.criteria__item.reveal {
  opacity: 0;
  transform: translateY(30px) scale(1);
  transition: all 0.6s ease;
}
.criteria__item.reveal.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.criteria__item.reveal.visible:hover {
  transform: translateY(0) scale(1.05);
  box-shadow: 0 8px 20px rgba(28, 155, 102, 0.3);
}
.criteria__item.reveal:nth-child(1) {
  transition-delay: 0.3s;
}
.criteria__item.reveal:nth-child(2) {
  transition-delay: 0.5s;
}
.criteria__item.reveal:nth-child(3) {
  transition-delay: 0.7s;
}
.criteria__text {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}
.icon {
  width: 4rem;
  height: 4rem;
}



/* Rating */
.rating-table {
  max-width: 1200px;
  width: 100%;
  min-height: 421px;
  border-collapse: collapse;
  background: rgb(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 1rem;
  font-size: 0.875rem;
  text-align: center;
  margin: 0 auto 4rem;
}
.rating-table__row--header {
  display: flex;
  flex-direction: row;
  border-bottom: 0.0625rem solid #ffffff;
}
.rating-table__cell--header {
  height: 2.5625rem;
  font-size: 1rem;
  font-weight: bold;
  white-space: normal;
  word-break: break-word;
  padding: 1rem 0;
}
.rating-table__body {
  height: 23.75rem;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rating-table__row {
  height: 7.125rem;
  display: flex;
  flex-direction: row;
}
.rating-table__main-group {
  height: 7.125rem;
  flex: 3;
  min-width: 350px;
  display: flex;
  flex-direction: column;
}
.rating-table__group {
  height: 2.375rem;
  border: 0.0625rem white solid;
  display: flex;
  flex-direction: row;
  border-top: none;
  border-right: none;
  align-items: center;
}
.rating-table__category {
  height: 7.125rem;
  flex: 1;
  min-width: 50px;
  font-weight: bold;
  border-bottom: 0.0625rem solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-table__category:hover {
  background: rgba(255, 255, 255, 0.25);
}
.cell-category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 50px;
}
.category-small {
  height: 2.375rem;
  flex: 1;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.rating-table__cell--group {
  flex: 3;
  min-width: 350px;
  display: flex;
  flex-direction: row;
}
.group-small {
  border-bottom: none;
  flex: 3;
  min-width: 350px;
  display: flex;
  flex-direction: row;
}
.rating-table__score {
  height: 2.375rem;
  flex: 1;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell-score {
  height: 2.375rem;
  flex: 1;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-table__score:hover {
  background: rgba(255, 255, 255, 0.25);
}
.rating-table__level {
  flex: 2;
  min-width: 125px;
  height: 2.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: normal;
  word-break: break-word;
}
.cell-level {
  flex: 2;
  min-width: 125px;
  height: 2.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-table__level:hover {
  background: rgba(255, 255, 255, 0.25);
}
.rating-table__points {
  flex: 1;
  min-width: 60px;
  height: 2.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell-points {
  flex: 1;
  min-width: 60px;
  height: 2.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-table__points:hover {
  background: rgba(255, 255, 255, 0.25);
}


/* Rating colors modifiers */
.score--aaa {
  color:  var(--color-aaa);
}
.score--aa {
  color:  var(--color-aa);
}
.score--a {
  color:  var(--color-a);
}
.score--bbb {
  color:  var(--color-bbb);
}
.score--bb {
  color:  var(--color-bb);
}
.score--b {
  color:  var(--color-b);
}
.score--ccc {
  color:  var(--color-ccc);
}
.score--cc {
  color:  var(--color-cc);
}
.score--c {
  color:  var(--color-c);
}
.score--d {
  color:  var(--color-d);
}



/* Footer */
.footer {
  background: #fff;
  color: var(--color-NAPP);
  text-align: center;
  padding: 1.25rem;
  font-size: 0.625rem;
}


